/* header.component.css */
.navbar {
    padding: 10px;
  }
  
  .navbar-brand img {
    max-width: 100%;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  .input-group {
    margin-right: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  