
<div>
    <app-header></app-header>
<div class="container">
    <h1>Welcome to Lead traker!</h1>
  <div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" style="background-color:007bff ;">Active</button>
        <button type="button" class="btn btn-primary buttontag">Won</button>
        <button type="button" class="btn btn-primary buttontag">Lost</button>
    
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <h3>Probabilities</h3>
    </div>
    <div class="col-md-6">
        <h3>Graph</h3>
    </div>
  </div>

  <h3>Active leads status</h3>
  <div class="row">
    <div *ngFor="let lead of leads;let i = index" class="card col-md-2 lead-card" (mouseover)="onCardMouseOver(i)">
        <div class="card-body">
          <h5 class="card-title">{{ lead.name }}</h5>
          <p class="card-text">{{ lead.lead_count}}</p>
        </div>
      </div>
  </div>

  <h3>Recently active leads</h3>
  <div class="row">
<table class="table">
    <thead>
      <tr>
        <th>Lead Name</th>
        <th>Date Added</th>
        <th>Current Status</th>
        <th>Probability</th>
        <th>Team Size</th>
        <th>Location</th>
        <th>Revenue</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lead of activeleads">
        <td>{{ lead.name }}</td>
        <td>{{ lead.created_on | date:'short' }}</td>
        <td>{{ lead.current_stage.name }}</td>
        <td>{{ lead.probability }}</td>
        <td>{{ lead.organization.team_size }}</td>
        <td>{{ lead.organization.country }}</td>
        <td>{{ lead.organization.revenue }}</td>
        <td>{{ lead.category.name }}</td>
      </tr>
    </tbody>
  </table>
  
  </div>
</div>

</div>